@font-face {
	font-family: Geist;
	src: url(./fonts/GeistVF.woff2) format('woff2'), sans-serif;
}
body {
	margin: 0;
	background-color: #3d3a36;
	overflow: hidden;
	font-family: Geist;
	font-weight: 100;
	user-select: none;
}
#game {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transition: transform 0.2s ease-in-out;
}
.letterBox {
	padding: 1px;
	width: 44px;
	height: 44px;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 32px;
	text-transform: uppercase;
	transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
	background-color: #FBE0B7;
	text-shadow: 1px 1px 2px #0008;
	box-shadow:
		2px 2px 0px #cdb186,
		4px 4px 0px #cdb186,
		6px 6px 0px #cdb186,
		inset 2px 2px 5px #FBE0B7,
		inset 4px 4px 12px #ffffff,
		inset -1px -1px 2px #CDB186;
}
.letterBox.correct {
	animation: correct 0.5s linear;
}
@keyframes correct {
	0% {
		color: black;
	}
	50% {
		color: #0f0;
	}
	100% {
		color: black;
	}
}

#onScreenKeyboard {
	position: fixed;
	bottom: 0;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	gap: 1vw;
}
.keyRow {
	display: flex;
	justify-content: center;
	gap: 1vw;
}
.key {
	width: 8vw;
	height: 8vw;
	color: white;
	font-size: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 8px;
	background-color: #0008;
	backdrop-filter: blur(4px);
	cursor: pointer;
	text-transform: capitalize;
	transition: opacity 0.1s linear, transform 0.1s ease-in-out;
}
.key:hover {
	opacity: 0.7;
	transform: scale(1.05);
}
.backspace {
	width: 12vw;
}
#stats {
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	padding: 4px;
	margin: 4px;
	font-size: 20px;
	z-index: 99999;
	text-shadow: 2px 2px 3px black;
	background-color: #0008;
	border-radius: 8px;
}
#stats p {
	margin: 0;
}
#stats p span {
	color: #FBE1B8;
}
