@font-face {
	font-family: Geist;
	src: url(./fonts/GeistVF.woff2) format('woff2'), sans-serif;
}
body {
	margin: 0;
	background-color: black;
	overflow: hidden;
}
#game {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transition: transform 0.2s ease-in-out;
}
.letterBox {
	width: 50px;
	height: 50px;
	outline: 1px solid white;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Geist;
	font-weight: 100;
	font-size: 32px;
	text-transform: uppercase;
}
